body {
  min-width: 1200px;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.5em;
  color: #283136;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 1em;
  color: black;
}

h2 {
  font-size: 45px;
  font-weight: bold;
  line-height: 1em;
  color: black;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.navigation {
  width: 1160px;
  height: 65px;
  margin: 0 auto;
  background-color: #eeeeee;
}

.main-navigation {
  height: 20px;
  min-width: 460px;
  float: left;
  margin-top: 30px;
}

.main-navigation ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.main-navigation li {
  height: 18px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

.main-navigation a {
  width: 100px;
  padding-bottom: 9px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.main-navigation .current {
  padding-bottom: 9px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #fb565a;
}

.main-navigation a:active, .shopping-block a:active {
  opacity: 0.3;
  color: black;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation li:not(:last-child) {
  margin-right: 43px;
}

.shopping-block a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.shopping-block a:hover {
  color: #fb565a;
}

.main-header {
  height: 496px;
  margin-bottom: 80px;
  padding-top: 50px;
  vertical-align: middle;
  background-color: #eeeeee;
}

.header-logo {
  width: 161px;
  height: 65px;
  float: left;
  margin-right: 200px;
  border: none;
}

a .header-logo:hover {
  opacity: 0.8;
}

a .header-logo:active {
  opacity: 0.3;
}

.shopping-block {
  height: 20px;
  width: 120px;
  position: relative;
  float: right;
  margin-top: 28px;
  text-align: right;
}

.shopping-block::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 5px;
  top: 3px;
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
}

.slider {
  position: relative;
}

.slide {
  height: 390px;
  padding-top: 41.5px;
}

.slide h2 {
  width: 540px;
  height: 120px;
  margin-top: 33px;
  margin-bottom: 10px;
  font-size: 55px;
}

.slide p {
  margin-bottom: 55px;
}

.slide a {
  width: 132px;
  height: 20px;
  padding: 15px 54px 15px 54px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fb565a;
  color: white;
  border-radius: 2px;
}

.slide a:hover {
  background-color: #e74246;
}

.slide a:active {
  color: rgba( 0, 0, 0, 0.3);
}

.slide-1 .slide {
  background: #eeeeee url(../img/indexpics/1.jpg) no-repeat right;
}

.slide-1 .description {
  width: 380px;
}

.slide-2 .slide {
  background: #eeeeee url(../img/indexpics/2.jpg) no-repeat right;
}

.slide-2 .description {
  width: 430px;
}

.slide-3 .slide {
  background: #eeeeee url(../img/indexpics/3.jpg) no-repeat right;
}

.slide-3 h2 {
  width: 500px;
}

.slide-3 .description {
  width: 360px;
}

.slider input {
  display: none;
}

.slideswitcher {
  height: 20px;
  position: absolute;
  top: 315px;
  left: 50%;
  margin-left: -47px;
  text-align: center;
  font-size: 0px;
}

.slideswitcher label {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  position: relative;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

#slide-btn-1:checked~ .slideswitcher label[for=slide-btn-1]::before,
#slide-btn-2:checked~ .slideswitcher label[for=slide-btn-2]::before,
#slide-btn-3:checked~ .slideswitcher label[for=slide-btn-3]::before {
  width: 4px;
  height: 4px;
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
}

.slidescreen {
  display: none;
}

#slide-btn-1:checked~ .slide-1 {
  display: block;
}

#slide-btn-2:checked~ .slide-2 {
  display: block;
}

#slide-btn-3:checked~ .slide-3 {
  display: block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.products {
  height: 348px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.product-preview h3 {
  margin-top: 16px;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: inherit;
}

.product-preview p {
  margin-bottom: 46px;
  font-style: medium;
}

.product-preview {
  width: 300px;
  height: 350px;
  float: left;
}

.websites .description {
  width: 260px;
}

.presentations .description {
  width: 260px;
}

.product-preview:not(:nth-child(3n)) {
  margin-right: 100px;
}

.btn {
  width: 160px;
  height: 50px;
  padding: 18px 40px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.red-btn {
  background-color: #fb565a;
  text-decoration: none;
  /* Это нужно на странице каталога */
}

.red-btn:hover {
  background-color: #e74246;
}

.red-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 3px 0 #c13135;
}

.about {
  border-bottom: 2px solid #eeeeee;
}

.green-btn {
  background-color: #00ca74;
}

.green-btn:hover {
  background-color: #00bc6c;
}

.green-btn:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 3px 0 #009958;
}

.yellow-btn {
  background-color: #efc84a;
}

.yellow-btn:hover {
  background-color: #eab534;
}

.yellow-btn:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 3px 0 #ce961f;
}

.about {
  padding-bottom: 75px;
}

.about-text {
  padding-top: 72px;
  width: 700px;
  float: left;
}

.about-text h4 {
  width: 350px;
  min-height: 20px;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-us {
  width: 690px;
  height: 100px;
  margin-bottom: 30px;
}

.about-text h2 {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0px;
}

h2 span {
  letter-spacing: 0.45px;
  word-spacing: 2.2px;
}

.about p {
  width: 616px;
  margin-bottom: 39px;
  margin-top: -8px;
  font-size: 16px;
}

.practice {
  width: 450px;
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.practice li {
  padding-left: 37px;
  position: relative;
}

.about li:not(:last-child) {
  margin-bottom: 23px;
}

.practice li::before {
  width: 25px;
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -1px;
  left: 0;
  border-bottom: 2px solid #fb565a;
}

.about-stats {
  width: 360px;
  height: 410px;
  float: right;
  padding-top: 38px;
}

.about-pic {
  width: 360px;
  height: 208px;
  margin-bottom: 7px;
}

.about-stats h4 {
  width: 350px;
  margin-bottom: 50px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.25px;
  word-spacing: -1.62px;
}

.percentage {
  font-weight: bold;
  font-size: 45px;
}

.percentage sup {
  font-size: 27px;
}

.stats {
  margin-top: 10px;
  width: 348px;
}

.stats-block {
  width: 98px;
  height: 115px;
  float: left;
}

.percentage {
  width: 98px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 28px;
  text-align: center;
}

.stats-block:nth-child(3n) .percentage {
  text-align: left;
}

.stats-block .description {
  text-align: right;
  font-size: 16px;
}

.stats-block:not(:nth-child(3n)) {
  margin-right: 20px;
}

.trusted-by {
  margin-bottom: 20px;
  padding-top: 44px;
  padding-bottom: 37px;
  font-size: 0px;
  border-bottom: 2px solid #eeeeee;
}

.trusted-brand {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.trusted-brand img {
  opacity: 0.2
}

.trusted-brand img:hover {
  opacity: 1;
}

.trusted-brand img:active {
  opacity: 0.1;
}

.trusted-brand {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  text-align: center;
  position: relative;
}

.ha {
  width: 199px;
  margin-left: 30px;
  padding-top: 12px;
  padding-right: 52px;
}

.borodinski {
  width: 209px;
  padding: 0 45px
}

.pink {
  width: 185px;
  padding: 0 58px
}

.mishka {
  width: 173px;
  margin-left: 62px;
}

.trusted-brand:not(:last-child)::before {
  width: 2px;
  height: 50px;
  display: block;
  position: absolute;
  content: "";
  background-color: #eeeeee;
  right: 0;
  top: calc(50% - 25px);
}

footer {
  height: 635px;
  padding-top: 80px;
}

.map {
  height: 416px;
  width: 100%;
  background: #eeeeee url(img/map.jpg) no repeat center;
}

.map-wrapper {
  height: 416px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.footer-contacts {
  height: 416px;
}

.contacts-block {
  width: 219px;
  height: 208px;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -578px;
  padding-top: 33px;
  padding-bottom: 67px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: white;
}

.contact-us {
  width: 220px;
  height: 210px;
}

.contact-us p {
  margin-bottom: 16px;
  line-height: 18px;
  letter-spacing: 0.14px;
}

.contact-us span {
  margin: 0;
  padding: 0;
  letter-spacing: 0.14px;
}

.contact-btn {
  width: 220px;
  height: 3px;
  display: block;
  margin-top: 33px;
  padding-top: 18px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  color: white;
}

.contacts-block h4 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 22px;
}

.footer-social {
  margin-top: 70px;
  width: 280px;
  height: 79px;
  float: left;
  margin-right: 120px;
}

.social {
  width: 79px;
  height: 79px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
}

.social:hover {
  background-color: #e74246;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.social:active {
  background-color: #e74246;
}

.social-vk {
  background-image: url(../img/vk-icon.png);
}

.social-fb {
  background-image: url(../img/fb-icon.png);
}

.social-instagram {
  background-image: url(../img/instagram-icon.png);
}

.social-vk:active {
  background-image: url(../img/vk-icon-down.png);
}

.social-fb:active {
  background-image: url(../img/fb-icon-down.png);
}

.social-instagram:active {
  background-image: url(../img/instagram-icon-down.png);
}

.footer-social a:not(:last-child) {
  margin-right: 8px;
}

.promo {
  margin-top: 75px;
  min-width: 560px;
  float: left;
  padding-bottom: 7px;
}

.promo h2 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: -8px;
  margin-top: 0px;
  letter-spacing: 0.15px;
}


/* Здесь я начинаю делать каталог. */

.shop-header {
  height: 305px;
  background-color: #eeeeee;
  padding-top: 50px;
  margin-bottom: 40px;
}

.shop-header h1 {
  width: 760px;
  height: 63px;
  font-size: 55px;
  margin: 0 auto;
  text-align: center;
}

.main-navigation .current {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 9px;
  border-bottom: 2px solid #fb565a;
}

.main-navigation a:active, .shopping-block a:active {
  color: black;
  opacity: 0.3;
}

.current-page {
  height: 164px;
  padding-top: 77px;
}

.filter {
  width: 260px;
  float: left;
  padding-top: 0px;
}

form h2 {
  margin-top: 20px;
  margin-bottom: 55px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

main h2 {
  font-size: 18px;
  line-height: 18px;
}

.scroll-filter {
  width: 260px;
  height: 80px;
  margin-bottom: 15px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  background: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 65%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 30px;
  left: 17px;
  border: 8px solid white;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-filter {
  width: 260px;
  height: 38px;
  margin-bottom: 60px;
}

.price-filter label {
  width: 30px;
  color: black;
}

.price-filter input {
  width: 81px;
  height: 32px;
  display: block;
  float: right;
}

.price-type {
  vertical-align: middle;
  height: 38px;
  float: left;
  position: relative;
  margin-bottom: 58px;
}

.min {
  width: 145px;
}

.max {
  width: 115px;
}

.price-type label {
  position: absolute;
  top: 8px;
  left: 0px;
  text-transform: uppercase;
}

.min-price {
  margin-left: 32px;
}

.max-price {
  margin-left: 34px;
}

.price-type input {
  width: 50px;
  height: 22px;
  float: left;
  padding: 8px 15px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  border: none;
  border-radius: 3px;
  background-color: #f1f1f1;
  outline: none;
}


/* Стилизация фильтров */


/* Фильтры сетки: */

.grid-filter {
  margin-bottom: 50px;
}

.grid-filter div {
  height: 22px;
  position: relative;
}

.grid-filter input {
  display: none;
  box-sizing: border-box;
}

.grid-filter label, .features-filter label {
  padding-left: 36px;
  vertical-align: top;
  color: #61686c;
  cursor: pointer;
}

.filter input[type=radio]:checked+ label::before {
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
  background: white no-repeat center;
  cursor: pointer;
}

.filter input[type=radio]:checked+ label::after {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  border-radius: 50%;
  background-color: #b8b8b8;
}

.filter input[type=radio]+ label::before {
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
  cursor: pointer;
}

.filter input[type=radio]+ label:hover::before {
  border: 4px solid #61686c;
}

.filter input[type=radio]+ label:hover,
.filter input[type=checkbox]+ label:hover {
  color: black;
}

.filter input[type=radio]:checked+ label:hover::before {
  border: 4px solid #61686c;
}

.filter input[type=radio]:checked+ label:hover::after {
  width: 8px;
  height: 8px;
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  background-color: #61686c;
}

.grid-filter div:not(:last-child) {
  margin-bottom: 18px;
}

.grid-filter h2, .features-filter h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.features-filter h2 {
  margin-bottom: 20px;
}


/* Фильтр особенностей сайта */

.features-filter {
  margin-bottom: 50px;
}

.features-filter h2 {
  text-transform: uppercase;
}

.features-filter div {
  margin: 0;
  padding: 0;
  height: 22px;
  margin-bottom: 18px;
  position: relative;
}

.features-filter input {
  display: none;
  box-sizing: border-box;
}

.features-filter input[type=checkbox]:checked+ label::before {
  width: 30px;
  height: 30px;
  content: "";
  position: absolute;
  top: -4.5px;
  left: -1.5px;
  background: url(../img/inputs/checkbox/checkbox-on.png) no-repeat center;
}

.features-filter input[type=checkbox]+ label::before {
  width: 30px;
  height: 30px;
  content: "";
  position: absolute;
  top: -4.5px;
  left: -4px;
  line-height: 20px;
  background: url(../img/inputs/checkbox/checkbox-off.png) no-repeat center;
}

.features-filter input[type=checkbox]+ label:hover::before {
  background-image: url(../img/inputs/checkbox/checkbox-off-hovered.png);
}

.features-filter input[type=checkbox]:checked+ label:hover::before {
  background-image: url(../img/inputs/checkbox/checkbox-on-hovered.png);
}

.confirm-btn {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  border: none;
  outline: none;
  background-color: #eeeeee;
  border-radius: 2px;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: #dfdfdf;
}

.confirm-btn:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 3px 0 #bfbfbf;
}

.catalog {
  width: 760px;
  float: right;
}

.sort-container {
  padding: 0;
  width: 760px;
  height: 40px;
  margin-bottom: 52px;
}

.sort-container h2 {
  height: 26px;
  width: 150px;
  text-transform: uppercase;
  float: left;
  margin-top: 18px;
}

.sort {
  height: 24px;
  margin-top: 20px;
  float: right;
  text-align: right;
}

.sort li {
  font-size: 14px;
  line-height: 18px;
  height: 26px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
}

.catalog-items {
  width: 760px;
  min-height: 1922px;
  float: right;
  margin-bottom: 27px;
}

.sort-down, .sort-up {
  display: inline-block;
  font-size: 0px;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  background: url(../img/spritesheet.png) no-repeat center;
}

.sort-down {
  background-position: -10px -68px;
  margin-right: 18px;
  margin-left: 42px;
}

.sort-up {
  background-position: -10px -97px;
}

.sort-up:hover {
  background-position: -10px -126px;
}

.sort-up:active {
  background-position: -10px -155px;
}

/*  А нужно ли задавать стили для фильтра, который априори активен?
.sort-down:hover {
	background-position: -10px -420px;
}
.sort-down:active {
	background-position: -10px -1439px;
}
*/

.sort li:nth-child(1) {
  margin-right: 20px;
}

.sort li:nth-child(2) {
  margin-right: 25px;
}

.sort a {
  text-decoration: none;
  color: #b2b2b2;
}

.sort a:hover {
  color: #8b8b8b;
}

.sort a:active {
  color: black;
}

.pageswitcher {
  vertical-align: top;
  height: 50px;
  float: left;
  font-size: 0px;
}

.page-content {
  margin-bottom: -18px;
}

.page-btn {
  width: 50px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  padding-top: 18px;
  padding-bottom: 19px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  background: #eeeeee;
  color: black;
}

.pageswitcher .active {
  width: 44px;
  height: 13px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 15px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  background-color: white;
  border: 3px solid #eeeeee;
}

.page-btn-next {
  width: 260px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  padding-top: 18px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background: #eeeeee;
  border-radius: 2px;
}

.page-btn:not(.active):hover, .page-btn-next:hover {
  background-color: #dfdfdf;
}

.page-btn:not(.active):active, .page-btn-next:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 3px 0 #bfbfbf;
}

.catalog-item {
  width: 360px;
  height: 616px;
  float: left;
  margin-bottom: 36px;
  position: relative;
}

.catalog-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.item-content {
  width: 360px;
  height: 577px;
}

.item-sedona {
  background: #82b3d3 url(../img/previews/sedona.jpg);
}

.item-pink {
  background: #273542 url(../img/previews/pink.jpg);
}

.item-borodinski {
  background: #222222 url(../img/previews/borodinski.jpg);
}

.item-mishka {
  background: #f1f1f1 url(../img/previews/mishka.jpg);
}

.item-aplus {
  background: #6551d6 url(../img/previews/aplus.jpg);
}

.item-kvast {
  background: #6a4511 url(../img/previews/kvast.jpg);
}

.item-border {
  width: 360px;
  height: 41px;
  background: url(../img/previews/borderimage.png);
}

.catalog-item:hover .item-border {
  width: 360px;
  height: 41px;
  background: url(../img/previews/borderimage-hovered.png);
}

.item-info {
  width: 360px;
  height: 199px;
  position: absolute;
  top: 385px;
  padding-top: 32px;
  display: none;
  background-color: #eeeeee;
}

.catalog-item-name {
  width: 160px;
  height: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.catalog-item-description {
  width: 240px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
}

.item-sedona .catalog-item-description,
.item-borodinski .catalog-item-description,
.item-mishka .catalog-item-description {
  width: 200px;
}

.item-info .price {
  width: 200px;
  height: 20px;
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #fb565a;
  color: white;
}

.price:hover {
  background-color: #e74246;
}

.price:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 3px 0 #c13135;
}

.catalog-item:hover .item-info {
  display: block;
}


/* Попап */

.modal-content {
  width: 960px;
  position: fixed;
  top: 80px;
  left: 50%;
  margin-left: -480px;
  padding-top: 73px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none;
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-content h2 {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 36px;
}

.modal-content-close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 78px;
  right: 90px;
  background-color: white;
  cursor: pointer;
}

.modal-content-close::before {
  width: 25px;
  height: 5px;
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  background-color: rgba(251, 86, 90, 0.3);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-content-close::after {
  width: 25px;
  height: 5px;
  content: "";
  position: absolute;
  top: 8px;
  left: -2px;
  background-color: rgba(251, 86, 90, 0.3);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-content-close:hover::before,
.modal-content-close:hover::after {
  background-color: rgba(251, 86, 90, 1);
}

.modal-content-close:active::before,
.modal-content-close:active::after {
  background-color: rgba(251, 86, 90, 0.1);
}

.modal-content form {
  margin: 0;
  padding: 0;
  display: block;
}

.modal-content label, .modal-content span {
  margin: 0;
  padding: 0;
  width: 360px;
  float: left;
  font-weight: 500;
  margin-bottom: 8px;
}

label[for=name] {
  color: #7f7f7f;
}

.modal-content label:first-child {
  margin-right: 40px;
}

.modal-content textarea {
  width: 360px;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 13px;
  box-sizing: border-box;
  font-size: 16px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  margin-bottom: 35px;
}

[name=username], [name=e-mail] {
  display: block;
  margin: 0;
  padding: 0;
  width: 360px;
  float: left;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 13px;
  box-sizing: border-box;
  width: 360px;
  font-size: 16px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  margin-bottom: 35px;
}

.input-error {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
  border: 2px solid #e74246;
  color: #e74246;
}

.input-error:hover {
  border: 2px solid #e74246;
}

.input-error:active {
  border-color: #e74246;
}

.modal-content textarea:hover {
  border-color: #b4b9bb;
  color: #b4b9bb;
}

.modal-content textarea:active {
  border-color: black;
  color: black;
}

.modal-content input[type=text]:first-child {
  margin-right: 40px;
}

.modal-content span {
  margin-bottom: 8px;
}

.modal-content textarea {
  margin: 0;
  float: left;
  width: 760px;
  margin-bottom: 47px;
}

.contact-form-btn {
  border: 0;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  width: 260px;
  height: 50px;
  display: block;
  background-color: #fb565a;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  25% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  25% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}